<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	      layout:decorate="~{board/layout.html}">
	  	
<head>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
	<link rel="stylesheet" th:href="@{/css/comment.css}">
    <meta charset="UTF-8">
    <title>
        개발생활 | [[${dto.getTitle()}]]
    </title>
</head>
<body>

<aside>
    <ul class="tree-view">
        <li><a th:href="@{/main}" style="font-size: 20px; font-weight: bold">DevLife</a></li>
        <li style="font-weight: bold">
            <a href="#components" >Category</a>
            <ul>
                <li><a th:href="@{/mypage}" th:if="${account != null}">마이페이지</a></li>
                <li><a th:href="@{/adminpage}" sec:authorize="hasRole('ADMIN')">관리자페이지</a></li>
                <li><a th:href="@{/login}" th:if="${account == null}">로그인</a></li>
                <li ><a id="logout-link" th:href="@{/user/logout}" th:if="${account != null}">로그아웃</a></li>
                <li><a th:href="@{/signup}" th:if="${account == null}">회원가입</a></li>

                <li>
                    <a href="#window">게시판</a>
                    <ul>
                        <li><a th:href="@{/board/list}">글 전체 조회</a></li>
                        <li><a th:href="@{/board/list/DEVTOOL}">개발자 도구</a></li>
                        <li><a th:href="@{/board/list/PET}">개발자네 개팔자</a></li>
                        <li><a th:href="@{/board/list/GOURMET}">고독한 개발자</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/board/write}" th:if="${account != null}">글쓰기</a></li>
            </ul>
        </li>
        <li><a href="#issues-contributing-etc">Issues, Contributing, etc.</a></li>
    </ul>
</aside>

<div layout:fragment="content">
<div class="main">
    <h1 style="font-family: DungGeunMo,serif">개발생활</h1>

    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">[[${dto.getCategory().getDescription()}]] | [[${dto.getTitle()}]]</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>

        <div class="content" id="content" name="content">[[${dto.getContent()}]]</div>
        <button th:onclick="|editBoard()|">수정</button>
        <button th:onclick="|deleteBoard()|">삭제</button>



        <div class="status-bar">
            <p class="status-bar-field">작성자:
                <span id="username" name="username">[[${dto.getUser().getNickname()}]]</span>
            </p>
            <p class="status-bar-field">작성일:
                <span id="created-at" name="created-at">[[${#temporals.format(dto.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}]]</span>
            </p>
            <p class="status-bar-field">수정일:
                <span id="updated-at" name="updated-at">[[${#temporals.format(dto.getUpdatedAt(), 'yyyy-MM-dd HH:mm:ss')}]]</span>
            </p>
            <p class="status-bar-field">조회수:
                <span id="hit" name="hit">[[${dto.getHit()}]]</span>
            </p>
            <p class="status-bar-field">좋아요:
                <span id="board-like" name="board-like">[[${dto.getBoardLike()}]]</span>
            </p>
            <p class="status-bar-field">열람권한:
                <span id="grade" name="grade">[[${dto.getGrade()}]]</span>
            </p>
        </div>
    </div>

</div>

<div layout:fragment="comment">
		<div class="main">
	        <div class="window">
				<div class="title-bar">
					<div class="title-bar-text" id="title-bar" name="title-bar"><span>댓글</span></div>
					
					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="comment-form status-bar">
					<div class="status-bar-field status-bar-left">
						<textarea class="comment-content" name="comment-content" rows="3"></textarea>	
					</div>
					<div class="status-bar-field status-bar-right">
						<button class="submit-comment" th:onclick="|writeComment(${board_id})|">댓글 달기</button>
					</div>
				</div>
				<div th:each="comment : ${comments}" class="status-bar">
					<div class="status-bar-field  status-bar-left">
						<div class="comment-body" th:id="|comment-body-${comment.getId()}|">
							<span>작성자: <strong th:text="${comment.getUser().getNickname()}"></strong></span>
							<p th:id="|content-${comment.getId()}|" th:text="${comment.getContent()}"></p>
						</div>
						<div style="display:none;" class="comment-body" th:id="|comment-modify-${comment.getId()}|">
							<textarea th:id="|comment-content-${comment.getId()}|"></textarea>
						</div>
					</div>
					<div class="status-bar-field status-bar-right">
						<div class="divide2 status-bar">
							<div class="comment-control status-bar-field">
								<span th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></span>
							</div>
						</div>						
						<div class="divide2 status-bar">
							<div class="comment-control status-bar-field">
								<button th:onclick="|mode_modify(${comment.getId()})|">수정</button>
								<button th:onclick="|deleteComment(${comment.getId()})|">삭제</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
    </div>
</div>
<script th:src="@{/js/logout.js}"></script>

<p id="user" th:value="${account}"></p>
<p id="board-user" th:value="${dto.getUser()}"></p>

</body>
</html>