body {
    
    margin: 0;
    padding: 0;
    background: #c0c0c0;
  }

aside {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    display: flex;
    align-items: stretch;
  }
  
aside .tree-view {
    width: 100%;
    /* TODO: Move scrollbar into the recessed region? */
    overflow-y: scroll;
}

main{
    margin-left: 240px;
    margin-bottom: 60px;
}

.window{
    width: 800px;
    height: 300px;
    margin-top: 40px;
}

.status-bar{
    margin-top: 100px;
}

.field-row-stacked{
    margin-left: 400px;
}

.sunken-panel{
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    height: 120px; 
    width: 840px;
}