@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #c0c0c0;
}

aside {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    display: flex;
    align-items: stretch;
}

aside .tree-view {
    width: 100%;
    /* TODO: Move scrollbar into the recessed region? */
    overflow-y: scroll;
}

main{
    margin-left: 240px;
    margin-bottom: 60px;
}

.window{
    width: 800px;
    margin-top: 40px;
}

