<!DOCTYPE html>
<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{comment/layout.html}">
<head>
	<link rel="stylesheet" th:href="@{/css/comment.css}">
	<title>댓글</title>
</head>
<body>
    <div layout:fragment="comment">
		<div class="main">
	        <div class="window">
				<div class="title-bar">
					<div class="title-bar-text" id="title-bar" name="title-bar"><span>댓글</span></div>
					
					<div class="title-bar-controls">
						<button aria-label="Minimize"></button>
						<button aria-label="Maximize"></button>
						<button aria-label="Close"></button>
					</div>
				</div>
				<div class="comment-form status-bar">
					<div class="status-bar-field status-bar-left">
						<textarea class="comment-content" name="comment-content" rows="3"></textarea>	
					</div>
					<div class="status-bar-field status-bar-right">
						<button class="submit-comment" th:onclick="|writeComment(${boardId})|">댓글 달기</button>
					</div>
				</div>
				<div th:each="comment : ${comments}" class="status-bar">
					<div class="status-bar-field  status-bar-left">
						<div class="comment-body" th:id="|comment-body-${comment.getId()}|">
							<span>작성자: <strong th:text="${comment.getUser().getNickname()}"></strong></span>
							<p th:id="|content-${comment.getId()}|" th:text="${comment.getContent()}"></p>
						</div>
						<div style="display:none;" class="comment-body" th:id="|comment-modify-${comment.getId()}|">
							<textarea th:id="|comment-content-${comment.getId()}|"></textarea>
						</div>
					</div>
					<div class="status-bar-field status-bar-right">
						<div class="divide2 status-bar">
							<div class="comment-control status-bar-field">
								<span th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></span>
							</div>
						</div>						
						<div class="divide2 status-bar">
							<div class="comment-control status-bar-field">
								<button th:onclick="|mode_modify(${comment.getId()})|">수정</button>
								<button th:onclick="|deleteComment(${comment.getId()})|">삭제</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
    </div>
</body>
</html>